.program-banner{
	position: relative;
	padding-top: 30px;
	height: 220px;
	background-color: #638204;
}
.program-banner h3{
	text-align: center;
	font-size: 14px;
	color: #9fbac4;
	margin-top: 10px;
}
.program-banner h3>span{
	text-shadow: -2px 2px 10px rgba(0,0,0,0.8);
	margin: 0 10px;
}
.banner-tab{
	height: 65px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}
.banner-tab a{
	display: inline-block;
	height: 65px;
	padding: 0 35px;
	color: #fff;
	text-shadow: -2px 2px 10px rgba(0,0,0,0.5);
	margin: 0 10px;
	line-height: 65px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.banner-tab .banner-tab-select{
	background: #fff;
	color: #000;
	text-shadow:none;
}
.content-wrap{
	width: 1152px;
	margin: 0 auto;
	padding-top: 50px;
}
.course-box{
	width: 264px;
	height: 340px;
	margin:0px 12px 20px 12px;
	float: left;
}
.course-cover,.img-up,.img-mid,.img-down{
	width: 264px;
	height: 145px;
	position: relative;
}
.img-up,.img-mid,.img-down{
	position: absolute;
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.3s;
}
.img-up{
	z-index: 3;
	bottom: 0px;
}
.img-mid{
	z-index: 2;
	bottom: -4px;
	width: 252px;
	left: 6px;
	opacity: 0.6;
}
.img-down{
	z-index: 1;
	width: 238px;
	left: 13px;
	opacity: 0.3;
	bottom: -8px;
}
.course-box:hover .img-up{
	bottom: 10px;
}
.course-box:hover .img-mid{
	bottom: -2px;
	left: 9px;
	width: 246px;
}
.course-box:hover .img-down{
	bottom: -12px;
	left: 16px;
	width: 232px;
}
.course-name{
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 10px;
}
.course-box:hover .course-name{
	color: red;
}
.course-hot,.course-price{
	font-size: 13px;
	color: #4d555d;
	padding: 0 10px;
}
.course-desc{
	font-size: 12px;
	padding: 0 10px;
	line-height: 20px;
	color: #93999f;
	margin: 10px 0;
}
.ml10{
	margin-left: 10px;
}
.pagenation{
	height: 60px;
	text-align: center;
	color: #4d555d;
}
.pagenation span{
	margin: 0px 5px;
}
.pagenation .num{
	display: inline-block;
	margin: 0 6px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	text-align: center;
	line-height: 36px;
}
.page-select{
	background: #4d555d;
	color: #fff;
}
