.menu-content{
	background: #fff;
	box-shadow: 0px 0.5px 20px 0px rgba(0,0,0,0.1);
	padding-top: 30px;
}
.menu-wrap,.main-wrap{
	width: 1200px;
	margin: 0 auto;
}
.category{
	border-bottom: 1px solid #edf1f2;
	padding: 15px;
}
.fangxiang{
	float: left;
	width: 60px;
	height: 100%;
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
}
.fangxiang-content{
	float: left;
	width: calc(100% - 100px);
}
.fangxiang-content a{
	display: inline-block;
	font-size: 14px;
	color: #14191e;
	padding: 8px 12px;
	border-radius: 3px;
	margin-bottom: 8px;
}
.fangxiang-content a:hover{
	color: red;
}
.nb{
	border:0;
}
.main-title{
	height: 70px;
	font-size: 14px !important;
}
.main-wrap{
	padding: 0 23px;
}
.hot{
	float: left;
}
.hot,.page,.difficuty{
	height: 70px;
	line-height: 70px;
}
.page{
	margin-left: 25px;
}
.page,.difficuty{
	float: right;
}
.main-title a,.main-title span{
	color: #787d82;
}
.main-title a{
	margin-right: 20px;
}
.main-title a.a-select{
	color: red;
}
.page-wrap{
	margin: 0 10px;
}
.page .left,.page .right{
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	border-radius: 10px;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	width: 20px;
	background: #d9dde1;
}
.course-card{
	width: 216px;
	height: 250px;
	float: left;
	margin: 0px 7.4px 30px 7.4px;
}
.course-img{
	height: 120px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
.course-img img{
	width: 100%;
	height: auto;
}
.course-name{
	margin-top:10px;
	padding: 0 5px;
}
.course-count,.course-desc{
	padding: 0 5px;
	margin: 8px 0px;
	color: #93999f;
	font-size: 13px;
}
.course-desc{
	font-weight: 300;
}

.course-count i{
	margin-right: 2px;
	margin-left: 12px;
}
.pagenation{
	height: 60px;
	text-align: center;
	color: #4d555d;
}
.pagenation span{
	margin: 0px 5px;
}
.pagenation .num{
	display: inline-block;
	margin: 0 6px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	text-align: center;
	line-height: 36px;
}
.page-select{
	background: #4d555d;
	color: #fff;
}
