.header,.banner,.shizhan,.newcourse,.rumen,.skill,.tech,.ask,.teacher,.allstar,.footer{
	min-width: 1152px;
}
.search-btn,.more a,.question,.shop-cart,.download,.home{
	cursor: pointer;
}
.banner,.skill{
	z-index:9;
}
.banner{
	height: 476px;
	background: #fff;
	padding-top: 32px;
	position: relative;
}
.banner-wrap{
	height: 444px;
	width: 1152px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
}
.banner-menu,.banner-right,.engineer-item,.content-item{
	float: left;
}
.banner-menu{
	height: 100%;
	width: 216px;
	background: #2b333b;
	color: #aaadb1;
	padding: 12px;
	padding-right: 0px;
	position: relative;
}
.banner-menu-item-detail{
	position: absolute;
	background: #fff;
	top: 0;
	left: 216px;
	width: 750px;
	height: 100%;
	box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.03);
	z-index: 100;
}
.banner-menu-item{
	height: 60px;
	width: 204px;
	padding-left: 15px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	line-height: 60px; 
}
.white{
	color: #fff !important;
}
.light,.dark{
	height: 45%;
	padding: 40px 40px;
}
.dark{
	height: 55%;
	background: #f8fcfa;
}
.light .xian{
	position: relative;
	height: 1px;
	background: #f1f2f2;
	margin-bottom: 20px;
}
.light .xian span{
	position: absolute;
	padding: 0 5px;
	color: #000;
	background: #fff;
	font-size: 13px;
	top: -8px;
}
.light > a{
	padding-left: 5px;
	padding-right: 20px;
	font-weight: 300;
	color: #111;
}
.light > a:hover{
	color: red;
	cursor: pointer;
}
.dark-item{
	width: 335px;
	height: 95px;
	float: left;
}
.dark-item>img{
	width: 80px;
	height: auto;
	border-radius: 5px;
}
.dark-item>.wenzi{
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}
.dark-item>.wenzi p:nth-child(1){
	margin-top: 4px;
	font-size: 13px;
	color: #222;
}
.dark-item>.wenzi p:nth-child(3){
	font-size: 13px;
	color: #222;\margin-top: 10px;
}
.dark-item-info{
	color: #888;
	font-size: 12px;
	margin-top: 4px;
}
.dark-item-info>span{
	margin-right: 10px;
}
.banner-menu-item:hover{
	background: #6b7176;
}
.banner-menu-item a{
	color: #aaadb1;
}
.banner-right{
	width: 936px;
	height: 444px;
}
.banner-img{
	height: 316px;
	position: relative;
}
.banner-engineer{
	height: 128px;
	padding: 0 18px;
}
.swiper-slide{
	background-size: cover;
}
.engineer-item{
	height: 128px;
	width: 180px;
	text-align: center;
	transition: all 0.2s;
}
.engineer-item:hover{
	transform: translateY(-2px);
}
.engineer-item i{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-top: 22px;
	background-image: url('../img/path_new.png');
	background-size: 100% auto;
}
.i-web{
	background-position: 0px 0px;
}
.i-java{
	background-position: 0px -72px;
}
.i-and{
	background-position: 0px -108px;
}
.i-ios{
	background-position: 0px -144px;
}
.i-php{
	background-position: 0px -36px;
}
.engineer-a{
	font-size: 15px;
	color: #07111b;
}
.engineer-b{
	font-size: 13px;
	color: #93999f;
}
.shizhan{
	height: 410px;
	background: #fff;
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.2);
}
.shizhan-wrap{
	width: 1152px;
	height: 410px;
	padding: 36px 0;
	margin: 0 auto;
}
h3{
	height: 39px;
	font-size: 14px;
	color: #93a6c7;
	text-align: center;
	line-height: 39px;
}
h3 span{
	display: inline-block;
	width: 56px;
	height: 36px;
	background-image: url('../img/icon.png');
	background-size: 100% auto;
	vertical-align: top;
}
h3 em{
	font-size: 20px;
	color: #4d555d;
	font-style: normal;
	padding: 0 5px;
}
.i-shizhan-l{
	background-position: 0px 0px;
	margin-right: 24px;
}
.i-shizhan-r{
	background-position: 0px -36px;
	margin-left: 24px;
}
.i-newcourse-l{
	background-position: 0px -72px;
	margin-right: 24px;
}
.i-newcourse-r{
	background-position: 0px -108px;
	margin-left: 24px;
}
.i-rumen-l{
	background-position: 0px -144px;
	margin-right: 24px;
}
.i-rumen-r{
	background-position: 0px -180px;
	margin-left: 24px;
}
.i-skill-l{
	background-position: 0px -288px;
	margin-right: 24px;
}
.i-skill-r{
	background-position: 0px -324px;
	margin-left: 24px;
}
.i-ask-l{
	background-position: 0px -360px;
	margin-right: 24px;
}
.i-ask-r{
	background-position: 0px -396px;
	margin-left: 24px;
}
.i-teacher-l{
	background-position: 0px -432px;
	margin-right: 24px;
}
.i-teacher-r{
	background-position: 0px -468px;
	margin-left: 24px;
}
.i-star-l{
	background-position: 0px -504px;
	margin-right: 24px;
}
.i-star-r{
	background-position: 0px -540px;
	margin-left: 24px;
}
.shizhan-content{
	height: 250px;
	margin-top: 20px;
}
.content-item{
	display: block;
	width: 216px;
	height: 250px;
}
.mr18{
	margin-right: 18px;
}
.img{
	width: 216px;
	height: 120px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.tag{
	position: absolute;
	left: 10px;
	font-size: 12px;
	bottom: 10px;
	padding: 5px;
	border-radius: 50px;
	background: rgba(0,0,0,0.2);
	color: #fff;
}
.img img{
	width: 100%;
	height: 100%;
}
.shizhan-desc{
	color: #07111b;
	margin: 15px 0px;
	padding: 0 10px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
}
.card-info,.price{
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	color: #93999f;
	font-size: 12px;
}
.card-info span{
	margin-right: 10px;
}
.price{
	margin-top: 10px;
	color: #000;
}
.newcourse{
	height: 675px;
}
.newcourse-wrap{
	width: 1152px;
	height: 100%;
	padding: 36px 0;
	margin: 0 auto;
}
.newcourse-content{
	height: 100%;
}
.line-content{
	margin-top: 25px;
}
.rumen,.skill,.tech{
	height: 818px;
	background: #fff;
	box-shadow: 0px -1px 20px 0px rgba(0,0,0,0.2);
	position: relative;
	z-index: 10;
}
.skill{
	background: #f8fafc;
}
.rumen-wrap,.skill-wrap,.tech-wrap{
	width: 1152px;
	margin: 0 auto;
	height: 100%;
	padding: 36px 0px;
}
.big-title{
	height: 108px;
	margin-top: 25px;
}
.big-t-1,.big-t-2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	width: 567px;
	height: 100%;
	float: left;
	background: url('../img/tuijian1.jpg');
	border-radius: 10px;
	overflow: hidden;
}
.big-t-1 .strong,.big-t-2 .strong{
	font-weight: bold;
	font-size: 22px;
}
.big-t-1 .normal,.big-t-2 .normal{
	font-size: 12px;
}
.big-t-2{
	background: url('../img/tuijian2.jpg');
}
.ask-wrap{
	width: 1152px;
	margin: 0 auto;
	padding: 36px 0;
}
.pubu{
	float: left;
	width: 374px;
}
.mr15{
	margin-right: 15px;
}
.card{
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	transition: all 0.3s;
	margin-bottom: 15px;
}
.card:hover{
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}
.card-title{
	color: #fff;
	padding: 4px 15px;
	border-radius: 20px;
	background: #7fd99d;
	font-size: 14px;
}
.hot-title,.his-title{
	margin: 10px 0px;
}
.hot-title-wenzi,.his-title-wenzi{
	float: left;
	width: 242px;
	padding-right: 10px;
	color: #7fd99d;
	transition: all 0.3s;
}
.his-title-wenzi{
	color: #4d555d;
	margin-bottom: 15px;
	font-size: 15px;
}

.hot-title-wenzi:hover,.his-title-wenzi:hover{
	color: #00b43c;
}
.hot-title img,.his-title img{
	float: left;
	height: 72px;
	width: 72px;
	border-radius: 10px;
}
.shouji{
	color: #000;	
}
.wenzi-box{
	margin: 20px 0;
	font-size: 12px;
	line-height: 20px;
	color: #4d555d;
}
.more{
	text-align: right;
}
.more a{
	color: #7fd99d;
	font-size: 13px;
	transition: all 0.3s;
}
.more a:hover{
	color: #00b43c;
}
.title-line{
	margin: 24px 0px;
	height: 1px;
	position: relative;
	background: #d9dde1;
}
.title-line span{
	position: absolute;
	line-height: 16px;
	background: #fff;
	padding-right: 12px;
	top: -8px;
	font-size: 12px;
	left: 0;
	color: #93999f;
}
.shouji-title,.yuanwen-title{
	font-size: 14px;
	color: #66bade;
	font-weight:300;
}
.yuanwen-title{
	color: #7fd99d;
}
.shouji-title i,.yuanwen-title i{
	margin-right: 5px;
}
.shouji-img img{
	width: 72px;
	height: 48px;
	border-radius: 0;
}
.more-shouji a{
	color: #66bade;
}
.more-shouji a:hover{
	color: #008cc8;
}
.more-info{
	float: left;
	font-size: 12px;
	color: #93999f;
	margin-right: 25px;
	line-height: 22px;
}
.question{
	margin: 15px 0px;
	color: #14191e;
	font-size: 15px;
	transition: all 0.3s;
}
.question:hover{
	color: #00b43c;
}
.good-answer-title{
	font-size: 14px;
	margin: 10px 0;
}
.answer{
	font-size: 14px;
	color: #4d555d;
}
.teacher{
	height: 408px;
	background-image: url('../img/eliteTbg.jpg');
	background-position: center;
	background-size: 100% auto;
}
.teacher-title em{
	color: #fff;
}
.teacher-wrap{
	width: 1152px;
	height: 100%;
	margin: 0 auto;
	padding: 36px 0;
}
.teachers{
	height: 248px;
	margin-top: 45px;
}
.teachers a{
	position: relative;
	display: block;
	float: left;
	height: 100%;
	width: 216px;
	background: rgba(255,255,255,0.8);
	border-radius: 15px;
	transition: all 0.3s;
	text-align: center;
	padding: 30px;
}
.teachers a img{
	width: 96px;
	height: 96px;
	border-radius: 48px;
	position: absolute;
	left: 50%;
	margin-left: -48px;
	top: -20px;
	transition: all 0.3s;
}
/*.teachers a img:hover{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	left: 50%;
	margin-left: -30px;
	
}*/
.teacher a:hover{
	background: #fff;
}
.nickname{
	font-size: 20px;
	font-weight: bold;
	margin:60px 0px 0px 0px;
	color: #000; 
}
.job,.teacher-info{
	font-size: 13px;
	color: #000;
	font-weight: 300;
}
.teacher-info{
	text-align: justify;
	overflow: hidden;
	margin-top: 15px;
	height: 73px;
	position: absolute;
	top: 140px;
	right: 0px;
	width: 156px;
	left: 50%;
	margin-left: -78px;
	transition: all 0.3s;
}
.teacher-info-hover{
	top: 40px;
	height: 160px;
}
.allstar{
	height: 459px;
	background: #fff;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
	position: relative;
	z-index: 10;
}
.allstar-content{
	height: 100%;
	padding: 36px 0;
	margin: 0 auto;
}
.top-list{
	height: 98px;
	width: 544px;
	margin:38px auto 48px;
}
.star-item{
	float: left;
	width: 136px;
	height: 98px;
	position: relative;
	text-align: center;

}
.star-item a img{
	width: 56px;
	height: 56px;
	border-radius: 28px;
}
.star-item .name,.star-item .desc{
	font-size: 12px;
}
.star-item .desc{
	color: #93999f;
}
.star-item span{
	display: block;
	height: 18px;
	width: 26px;
	background-image: url(../img/champion.png);
	background-size: 100% auto;
	position: absolute;
	top: -18px;
	left: 50%;
	margin-left: -13px;
}
.star-item .zise{
	background-position: 0px 0px;
}
.star-item .green{
	background-position: 0px -18px;
}
.star-item .blue{
	background-position: 0px -36px;
}
.star-item .yellow{
	background-position: 0px -54px;
}
.other-list{
	width: 888px;
	height: 152px;
	margin: 0 auto;
}
.other-item{
	width: 52px;
	height: 52px;
	border-radius: 26px;
	background: #fff;
	position: relative;
	margin-right: 28px;
	margin-bottom: 24px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.other-item:hover{
	border: 2px solid red;
}
.other-item img{
	width: 46px;
	height: 46px;
	border-radius: 46px;
}
.ml52{
	margin-left: 40px;
}
.footer{
	height: 132px;
	padding: 36px 0px;
}
.footer-wrap{
	width: 1152px;
	height: 100%;
	margin: 0 auto;
}
.footer-links{
	height: 28px;
}
.footer-links a{
	padding-right: 15px;
	color: #99a1a6;
	font-size: 14px;
	line-height: 28px;
}
.footer-wrap p{
	color: #99a1a6;
	font-size: 12px;
	margin-top: 10px;
}
.blog{
	position: absolute;
	right: 0;
	top: 0;
	height: 60px;
	width: 142px;
}
.hide{
	display: none;
}
.teachers .touxiang-hover{
	width: 60px;
	height: 60px;
	margin-left: -30px;
}

